@import "node_modules/bootstrap/scss/bootstrap.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

#settings-container {
  width: 230px;
  margin-left: -230px;
  background-color: lightgray;
  padding: 3rem 0 3rem 1rem;
  text-align: left;
  overflow-y: auto;
  transition: margin-left 0.5s, opacity 0.5s;
  color: darkslategray;

  h3 {
    color: black;
  }

  h6 {
    margin-top: 1em;
    margin-bottom: 0;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

.settings-open {
  margin-left: 0 !important;
}

#bookmarks-and-extensions {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content {
  margin: 5px 70px;
  padding: 5px;
  z-index: 1;
}

.size-medium {
  font-size: 1rem;
}

.size-small {
  font-size: 0.7rem;
}

.size-large {
  font-size: 1.3rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

#controls-container {
  width: 48px;
  /*position: relative;*/
  background-color: lightgray;
  overflow-y: auto;
  transition: display 0.5s;
  padding-top: 1rem;

  .edit-mode {
    filter: brightness(50%);
  }
}

.controls-hidden {
  display: none;
}

.controls {
  font-size: 2em;
  color: slategrey;
  /*filter: drop-shadow(5px 4px 3px #888);*/
}

.icon {
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  padding: 0.5em;
  width: 12em;
  height: 3.7em;

  /* alignment */
  cursor: pointer;
  color: black;
  justify-content: left;
  border: 1px solid lightgray;

  font-size: 1em;

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
    background-color: white !important;
    color: black !important;
  }

  .icon-name-side {
    overflow: hidden;
    font-family: sans-serif;
  }

  .icon-image-side {
    color: rgb(114, 121, 130);
    font-size: 1.3rem; // this is for fontawesome
  }

  img {
    //height: 50%;
    width: 90%;
  }
}

.items-group {
  width: 100%;
  h2 {
    margin-top: 0.7em;
  }
  header {
    margin: 10px 70px;
    padding: 0;
    color: grey;
    font-weight: bold;
    font-size: 14pt;
  }
}

header {
  h2 {
    padding: 0;
    margin: 0;
  }
}

.settings-trigger {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  color: darkslategrey;
}

.trigger, .trigger img {
  width: 32px;
  height: 32px;
}

.trigger:hover, .trigger.active {
  background-color: gray;
}

#chrome-tools-controls {
  width: 32px;

  .trigger {
    float: left;
  }

}

.icon-wrapper {
  border-radius: 2px;
}

.icon-nested-1 {
  background-color: rgba(200, 200, 200, 0.3) !important;
}

.icon-nested-2 {
  background-color: rgba(200, 200, 200, 0.6) !important;
}

.icon-nested-3 {
  background-color: rgba(200, 200, 200, 0.9) !important;
}

.icon-list-position-first, .icon-list-position-middle, .icon-list-position-last {
  border: 1px solid lightgray;
}

.icon-list-position-first {
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

.icon-list-position-middle {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.icon-list-position-last {
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

/*#settings span {*/
/*	font-size: 10pt;*/
/*}*/

/*#settings-holder {*/
/*	width: 32px;*/
/*}*/
.radio-list {
  padding: 0 0 0 0.5rem;
  margin: 0;
  list-style-type: none;
  li {
    margin: 0 !important;
  }
  input {
    margin-right: 0.5rem;
  }
  label {
    margin: 0;
  }
}

.action-list {
  list-style-type: none;
  padding: 0 0 0 0.5rem;

  li {
    margin: 0.3rem 0;
  }
}

.app-settings {
  padding-left: 1em;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s linear;

  input {
    border: 1px solid slategray;
  }
}

.app-settings-visible {
  max-height: 100rem;
}

.shortcut-secondary {
  border-radius: 2px;
  visibility: hidden;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  color: darkslategrey;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.shortcut-secondary-active {
  background-color: white;
}
.shortcut-secondary-visible {
  visibility: visible;
  opacity: 1;
}

.references {
  position: absolute;
  bottom: 0;
  font-size: 8pt;
}

.edit-mode-info {
  border-radius: 2px;
  background-color: white;
  font-style: italic;
  padding: 0;
  p {
    padding: 0.5em;
  }
}

.image-url-hint {
  font-style: italic;
  font-size: 0.8em;
}